body {
    text-align: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
}


#message {
    text-align: center;
}

#prevGuesses {
    margin-top: 30px;
    font-size: 20px;
}
  
  .guess {
    margin-top: 10px;
    font-size: 20px;
}

#resetButton {
    margin-top: 20px;
}